version: '3.8'

services:
  postgres:
    image: postgres:13
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

  backend:
    image: rjkzcvb/kittygram_backend:latest
    volumes:
      - backend_static:/app/static
      - media_volume:/app/media
    depends_on:
      - postgres
    env_file:
      - .env
    restart: always




q

exit
cat > docker-compose.production.yml << 'EOF'
version: '3.8'

services:
  postgres:
    image: postgres:13
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

  backend:
    image: rjkzcvb/kittygram_backend:latest
    volumes:
      - backend_static:/app/static
      - media_volume:/app/media
    depends_on:
      - postgres
    env_file:
      - .env
    restart: always

  frontend:
    image: rjkzcvb/kittygram_frontend:latest
    volumes:
      - frontend_static:/app/build
    restart: always

  gateway:
    image: rjkzcvb/kittygram_gateway:latest
    ports:
      - "9000:80"
    volumes:
      - backend_static:/backend_static
      - frontend_static:/frontend_static
      - media_volume:/media
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  pg_data:
  backend_static:
  frontend_static:
  media_volume:
